<html>
<head>
<title>overview.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #a9b7c6;}
.s1 { color: #808080;}
.s2 { color: #e8bf6a;}
.s3 { color: #bababa;}
.s4 { color: #a5c261;}
.s5 { color: #6d9cbe;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
overview.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends &quot;admin/base_site.html&quot; %}{% load i18n request_admin static %}</span>
<span class="s0">{% block extrahead %}</span>
<span class="s0">{{ block.super }}</span>
<span class="s1">&lt;!--[if IE]&gt;&lt;script language=&quot;javascript&quot; type=&quot;text/javascript&quot; src=&quot;{% static &quot;request/js/excanvas.min.js&quot; %}&quot;&gt;&lt;/script&gt;&lt;![endif]--&gt;</span>
<span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot; </span><span class="s3">src</span><span class="s4">=&quot;{% static &quot;</span><span class="s3">request</span><span class="s0">/js/jquery-1.4.2.min.js&quot; %}&quot;&gt;</span><span class="s2">&lt;/script&gt;</span>
<span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot; </span><span class="s3">src</span><span class="s4">=&quot;{% static &quot;</span><span class="s3">request</span><span class="s0">/js/jquery.flot.js&quot; %}&quot;&gt;</span><span class="s2">&lt;/script&gt;</span>
<span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot; </span><span class="s3">src</span><span class="s4">=&quot;{% static &quot;</span><span class="s3">request</span><span class="s0">/js/jquery.timeago.js&quot; %}&quot;&gt;</span><span class="s2">&lt;/script&gt;</span>
<span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot; </span><span class="s3">src</span><span class="s4">=&quot;{% static &quot;</span><span class="s3">request</span><span class="s0">/js/request.js&quot; %}&quot;&gt;</span><span class="s2">&lt;/script&gt;</span>
    <span class="s0">{% if request and request.user %}</span>
        <span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot;</span><span class="s2">&gt;</span>
        <span class="s0">function loadTrafficGraph(days) {</span>
            <span class="s0">if (days == undefined) {</span>
                <span class="s0">path = &quot;{% url &quot;admin:request_request_traffic&quot; %}&quot;;</span>
            <span class="s0">} else {</span>
                <span class="s0">path = &quot;{% url &quot;admin:request_request_traffic&quot; %}?days=&quot; + days;</span>
            <span class="s0">}</span>

            <span class="s0">$.getJSON(path, function(data) {</span>
                <span class="s0">trafficGraph($(&quot;#trafficgraph&quot;), data);</span>
            <span class="s0">});</span>
        <span class="s0">}</span>

        <span class="s0">$(document).ready(function(){</span>
            <span class="s0">loadTrafficGraph();</span>
        <span class="s0">});</span>
        <span class="s2">&lt;/script&gt;</span>
    <span class="s0">{% endif %}</span>
<span class="s0">{% endblock %}</span>

<span class="s0">{% block breadcrumbs %}</span>
    <span class="s0">{% if request and request.user %}</span>
        <span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;breadcrumbs&quot;</span><span class="s2">&gt;</span>
            <span class="s2">&lt;a </span><span class="s3">href</span><span class="s4">=&quot;{% url &quot;</span><span class="s3">admin:index</span><span class="s0">&quot; %}&quot;&gt;{% trans &quot;Home&quot; %}</span><span class="s2">&lt;/a&gt; </span><span class="s5">&amp;rsaquo;</span>
            <span class="s2">&lt;a </span><span class="s3">href</span><span class="s4">=&quot;{% url &quot;</span><span class="s3">admin:app_list</span><span class="s0">&quot; &quot;request&quot; %}&quot;&gt;{% trans &quot;Request&quot; %}</span><span class="s2">&lt;/a&gt; </span><span class="s5">&amp;rsaquo;</span>
            <span class="s2">&lt;a </span><span class="s3">href</span><span class="s4">=&quot;{% url &quot;</span><span class="s3">admin:request_request_changelist</span><span class="s0">&quot; %}&quot;&gt;{% trans &quot;Requests&quot; %}</span><span class="s2">&lt;/a&gt; </span><span class="s5">&amp;rsaquo;</span>
            <span class="s0">{% trans &quot;Overview&quot; %}</span>
        <span class="s2">&lt;/div&gt;</span>
    <span class="s0">{% endif %}</span>
<span class="s0">{% endblock %}</span>

<span class="s0">{% block content %}</span>
<span class="s2">&lt;div </span><span class="s3">style</span><span class="s4">=&quot;width:920px;&quot;</span><span class="s2">&gt;</span>
    <span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;module&quot; </span><span class="s3">style</span><span class="s4">=&quot;clear: both;&quot;</span><span class="s2">&gt;</span>
        <span class="s2">&lt;table </span><span class="s3">style</span><span class="s4">=&quot;width: 100%;&quot;</span><span class="s2">&gt;</span>
            <span class="s2">&lt;caption&gt;</span><span class="s0">{% trans &quot;Traffic graph&quot; %} ( </span><span class="s2">&lt;a </span><span class="s3">href</span><span class="s4">=&quot;javascript:loadTrafficGraph(7);&quot;</span><span class="s2">&gt;</span><span class="s0">{% trans &quot;Week&quot; %}</span><span class="s2">&lt;/a&gt; </span><span class="s0">| </span><span class="s2">&lt;a </span><span class="s3">href</span><span class="s4">=&quot;javascript:loadTrafficGraph(30);&quot;</span><span class="s2">&gt;</span><span class="s0">{% trans &quot;Month&quot; %}</span><span class="s2">&lt;/a&gt; </span><span class="s0">| </span><span class="s2">&lt;a </span><span class="s3">href</span><span class="s4">=&quot;javascript:loadTrafficGraph(365);&quot;</span><span class="s2">&gt;</span><span class="s0">{% trans &quot;Year&quot; %}</span><span class="s2">&lt;/a&gt; </span><span class="s0">)</span><span class="s2">&lt;/caption&gt;</span>
        <span class="s2">&lt;/table&gt;</span>
        
        <span class="s2">&lt;div </span><span class="s3">style</span><span class="s4">=&quot;padding: 15px;&quot;</span><span class="s2">&gt;</span>
            <span class="s2">&lt;div </span><span class="s3">id</span><span class="s4">=&quot;trafficgraph&quot; </span><span class="s3">style</span><span class="s4">=&quot;width: 900px; height: 250px;&quot;</span><span class="s2">&gt;&lt;/div&gt;</span>
        <span class="s2">&lt;/div&gt;</span>
    <span class="s2">&lt;/div&gt;</span>
    
    <span class="s0">{% for plugin in plugins %}</span>
      <span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;module&quot; </span><span class="s3">style</span><span class="s4">=&quot;float: left; width: 450px; {% cycle 'clear: both;' 'margin-left: 16px;' %}&quot;</span><span class="s2">&gt;</span>
         <span class="s0">{{ plugin.render }}</span>
      <span class="s2">&lt;/div&gt;</span>
    <span class="s0">{% endfor %}</span>
<span class="s2">&lt;/div&gt;</span>
<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>