<html>
<head>
<title>request_tag.py</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #6897bb;}
.s3 { color: #6a8759;}
.s4 { color: #808080;}
.s5 { color: #629755; font-style: italic;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
request_tag.py</font>
</center></td></tr></table>
<pre><span class="s0">from </span><span class="s1">django </span><span class="s0">import </span><span class="s1">template</span>

<span class="s0">from </span><span class="s1">..models </span><span class="s0">import </span><span class="s1">Request</span>

<span class="s1">register = template.Library()</span>


<span class="s0">class </span><span class="s1">ActiveUserNode(template.Node):</span>
    <span class="s0">def </span><span class="s1">__init__(self</span><span class="s0">, </span><span class="s1">parser</span><span class="s0">, </span><span class="s1">token):</span>
        <span class="s1">tokens = token.contents.split()</span>
        <span class="s1">tag_name = tokens.pop(</span><span class="s2">0</span><span class="s1">)</span>
        <span class="s1">self.kwargs = {}</span>
        <span class="s1">self.as_varname = </span><span class="s3">'user_list'</span>

        <span class="s0">if </span><span class="s1">len(tokens) </span><span class="s0">not in </span><span class="s1">(</span><span class="s2">5</span><span class="s0">, </span><span class="s2">2</span><span class="s0">, </span><span class="s2">0</span><span class="s1">):</span>
            <span class="s0">raise </span><span class="s1">template.TemplateSyntaxError(</span><span class="s3">'Incorrect amount of arguments in the tag {0!r}'</span><span class="s1">.format(tag_name))</span>

        <span class="s0">if </span><span class="s1">len(tokens) == </span><span class="s2">5 </span><span class="s0">and </span><span class="s1">tokens[</span><span class="s2">0</span><span class="s1">] == </span><span class="s3">'in'</span><span class="s1">:</span>
            <span class="s1">tokens.pop(</span><span class="s2">0</span><span class="s1">)  </span><span class="s4"># pop 'in' of tokens</span>
            <span class="s0">try</span><span class="s1">:</span>
                <span class="s1">self.kwargs[str(tokens.pop(</span><span class="s2">0</span><span class="s1">))] = int(tokens.pop(</span><span class="s2">0</span><span class="s1">))</span>
            <span class="s0">except </span><span class="s1">ValueError:</span>
                <span class="s0">raise </span><span class="s1">template.TemplateSyntaxError(</span><span class="s3">'Invalid arguments for {0!r} template tag.'</span><span class="s1">.format(tag_name))</span>
        <span class="s0">else</span><span class="s1">:</span>
            <span class="s1">self.kwargs[</span><span class="s3">'minutes'</span><span class="s1">] = </span><span class="s2">15</span>

        <span class="s0">if </span><span class="s1">len(tokens) == </span><span class="s2">2 </span><span class="s0">and </span><span class="s1">tokens[</span><span class="s2">0</span><span class="s1">] == </span><span class="s3">'as'</span><span class="s1">:</span>
            <span class="s1">self.as_varname = tokens[</span><span class="s2">1</span><span class="s1">]</span>

    <span class="s0">def </span><span class="s1">render(self</span><span class="s0">, </span><span class="s1">context):</span>
        <span class="s1">context[self.as_varname] = Request.objects.active_users(**self.kwargs)</span>
        <span class="s0">return </span><span class="s3">''</span>


<span class="s1">@register.tag</span>
<span class="s0">def </span><span class="s1">active_users(parser</span><span class="s0">, </span><span class="s1">token):</span>
    <span class="s5">''' 
    This template tag will get a list of active users based on time, 
    if you do not supply a time to the tag, the default of 15 minutes 
    will be used. With the 'as' clause you can supply what context 
    variable you want the user list to be. There is also a 'in' clause, 
    after in you would specify a amount and a duration. Such as 2 hours, 
    of 10 minutes. 
 
    Syntax:: 
        {% active_users in [amount] [duration] as [varname] %} 
        {% active_users as [varname] %} 
        {% active_users %} 
 
    Example usage:: 
        {% load request_tag %} 
        {% active_users in 10 minutes as user_list %} 
        {% for user in user_list %} 
            {{ user.get_username }} 
        {% endfor %} 
    '''</span>
    <span class="s0">return </span><span class="s1">ActiveUserNode(parser</span><span class="s0">, </span><span class="s1">token)</span>
</pre>
</body>
</html>