<html>
<head>
<title>topsearchphrases.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #a9b7c6;}
.s1 { color: #e8bf6a;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
topsearchphrases.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends &quot;request/plugins/table.html&quot; %}</span>
<span class="s0">{% load i18n %}</span>
<span class="s0">{% block table %}</span>
    <span class="s1">&lt;tr&gt;</span>
        <span class="s1">&lt;th&gt;</span><span class="s0">{% trans &quot;Phrase&quot; %}</span><span class="s1">&lt;/th&gt;</span>
        <span class="s1">&lt;th&gt;</span><span class="s0">{% trans &quot;Visits&quot; %}</span><span class="s1">&lt;/th&gt;</span>
    <span class="s1">&lt;/tr&gt;</span>
    <span class="s0">{% for phrase, visits in phrases %}</span>
        <span class="s1">&lt;tr&gt;</span>
            <span class="s1">&lt;td&gt;</span><span class="s0">{{ phrase|truncatechars:60 }}</span><span class="s1">&lt;/td&gt;</span>
            <span class="s1">&lt;td&gt;</span><span class="s0">{{ visits }}</span><span class="s1">&lt;/td&gt;</span>
        <span class="s1">&lt;/tr&gt;</span>
    <span class="s0">{% endfor %}</span>
<span class="s0">{% endblock %}</span>
</pre>
</body>
</html>